.full-height {
    height: 100vh;
}

label {    
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.position-relative {
    position: relative;
}

.custom-modal .modal-dialog {
    max-width: 86%;
    max-height: 100%;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 100000;
}

.small {    
    width: 40%;    
}

.divider {
    border-top: 1px solid #575757;
}